@    using Blazored.Toast.Configuration
@attribute [Authorize]
@attribute [StreamRendering]

@inject NavigationManager NavigationManager
@inject IToastService ToastService
@inject ITrainingServiceClient TrainingServiceClient

@if (Training == null)
{
	<Loading></Loading>
}
else
{
	<div class="form-group">
		<table class="table">
			<tbody>
				<tr>
					<td>Training</td>
					<td>@Training.Name</td>
				</tr>
				<tr>
					<td>Date</td>
					<td>@Training.PlannedAt</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="form-group">
		<button @onclick="Remove" class="btn btn-danger">Delete</button>
		<button @onclick="Cancel" class="btn btn-warning">Cancel</button>
	</div>
}

@code {
	[Parameter]
	public Guid Id { get; set; }

	[CascadingParameter]
	BlazoredModalInstance BlazoredModal { get; set; } = default!;

	private TrainingModel? Training { get; set; }

	protected override async Task OnInitializedAsync()
	{
		var response = await TrainingServiceClient.GetTrainingAsync(Id);
		if (response.StatusCode == HttpStatusCode.OK)
		{
			Training = response.Content;
		}
	}

	protected async Task Remove()
	{
		var response = await TrainingServiceClient.DeleteTrainingAsync(Id);
		if (response.StatusCode == HttpStatusCode.NoContent)
		{
			await BlazoredModal.CloseAsync(ModalResult.Ok());
		}
		else
		{
			ToastService.ShowError($"Service returned : {response.StatusCode}");
		}
	}

	protected async Task Cancel()
	{
		await BlazoredModal.CloseAsync(ModalResult.Cancel());
	}
}