services:
  ehrms.apigateway:
    image: ${DOCKER_REGISTRY-}ehrmsapigateway
    build:
      context: .
      dockerfile: src/ApiGateway/Ehrms.ApiGateway/Dockerfile
    ports:
        - "5000:8080"
        - "5001:8081"
    networks:
        - proxybackend
    depends_on: 
        - ehrms.employeeinfo.api
        - ehrms.projectmanagement.api
        - ehrms.trainingmanagement.api

  ehrms.mq:
    image: rabbitmq:management-alpine
    container_name: Ehrms.mq
    hostname: ehrms-mq
    ports:
        - 5672:5672
    volumes:
        - ./.container/queue/data/:/var/lib/rabbitmq 
        - ./.container/queue/log/:/var/log/rabbitmq
    environment:
        RABBITMQ_DEFAULT_USER: guest
        RABBITMQ_DEFAULT_PASS: guest
    networks:
        - proxybackend
 
  ehrms.authentication.api:
    image: ${DOCKER_REGISTRY-}ehrmsauthenticationapi
    build:
      context: .
      dockerfile: src/Services/Ehrms.Authentication.API/Dockerfile
    networks:
        - proxybackend

  ehrms.employeeinfo.api:
    image: ${DOCKER_REGISTRY-}ehrmsemployeeinfoapi
    build:
      context: .
      dockerfile: src/Services/Ehrms.EmployeeInfo.API/Dockerfile
    depends_on: 
        - ehrms.mq
    ports:
        - "5100:8080"
        - "5101:8081"
    networks:
        - proxybackend
 
  ehrms.projectmanagement.api:
    image: ${DOCKER_REGISTRY-}ehrmsprojectmanagementapi
    build:
      context: .
      dockerfile: src/Services/Ehrms.ProjectManagement.API/Dockerfile
    depends_on: 
        - ehrms.mq
    networks:
        - proxybackend

  ehrms.trainingmanagement.api:
    image: ${DOCKER_REGISTRY-}ehrmstrainingmanagementapi
    build:
      context: .
      dockerfile: src/Services/Ehrms.TrainingManagement.API/Dockerfile
    depends_on: 
        - ehrms.mq
    networks:
        - proxybackend

networks:
  proxybackend:
    name: proxybackend
    driver: bridge
