@inject IModalService ModalService

<MudTable @ref="_table"
          T="RecommendationResultEmployeeModel"
          Items="@RecommendationResult!.Employees"
          @bind-SelectedEmployees="_selectedEmployees"
          OnRowClick="@OnRowClick"
          Hover="true"
          Dense="false"
          MultiSelection="true"
          SelectOnRowClick="true">
    <HeaderContent>
        <div class="d-flex justify-content-end">
            <MudTooltip Text="Add Training">
                <MudIconButton Size="Size.Medium" Color="Color.Success" Icon="@Icons.Material.Filled.AddBox" @onclick="@(()=>CreateTraining(RecommendationResult))" />
            </MudTooltip>
        </div>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.FullName</MudTd>
    </RowTemplate>
</MudTable>

@code {
    [Parameter] public ReadTrainingRecommendationResultModel? RecommendationResult { get; set; }
    [Parameter] public EventCallback<ReadTrainingRecommendationResultModel> OnCreateTrainingRequested { get; set; }

    private MudTable<RecommendationResultEmployeeModel>? _table;
    private HashSet<RecommendationResultEmployeeModel> _selectedEmployees = new();

    private async Task CreateTraining(ReadTrainingRecommendationResultModel trainingRecommendationResult)
    {
        trainingRecommendationResult.Employees = _selectedEmployees;
        await OnCreateTrainingRequested.InvokeAsync(new ReadTrainingRecommendationResultModel
            {
                Skill = trainingRecommendationResult.Skill,
                Title = trainingRecommendationResult.Title,
                Employees = _selectedEmployees
            });
    }

    private void OnRowClick(TableRowClickEventArgs<RecommendationResultEmployeeModel> args)
    {
        if (args == null || args.Item == null)
        {
            return;
        }

        if (_selectedEmployees.Contains(args.Item))
        {
            _selectedEmployees.Remove(args.Item);
        }
        else
        {
            _selectedEmployees.Add(args.Item);
        }
    }
}