@page "/logout"
@attribute [Authorize]

@inject NavigationManager NavigationManager

<h1>Please wait...</h1>

@code {
	[CascadingParameter]
	public HttpContext? HttpContext { get; set; }

	protected override async Task OnParametersSetAsync()
	{
		await SignOutUser();
	}

	private async Task SignOutUser()
	{
		if (HttpContext != null)
		{
			HttpContext!.Response.Cookies.Delete(CookieKeys.AccessToken);
			HttpContext!.Response.Cookies.Delete(CookieKeys.RefreshToken);

			await HttpContext!.SignOutAsync();
			NavigationManager.NavigateTo("/", true);
		}
		else
		{
			NavigationManager.Refresh(true);
		}
	}
}