<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<base href="/" />
	<link rel="stylesheet" href="app.css" />
	<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
	<link rel="stylesheet" href="/lib/chosen/chosen.min.css" />
	<link rel="stylesheet" href="Ehrms.Web.styles.css" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
	<link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
	<HeadOutlet />
</head>

<body>
	<Routes @rendermode="GetRenderModeForPage()" />
	<script src="_framework/blazor.web.js"></script>

	<script src="/lib/jquery/jquery.min.js"></script>
	<script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>
</html>

@code {
	[CascadingParameter]
	private HttpContext HttpContext { get; set; } = default!;

	private IComponentRenderMode? GetRenderModeForPage()
	{
		//User routing pages must to start with static StaticServer rendering.
		//Otherwise they will not be able to HttpContext due to SignalR communication.
		if (HttpContext.Request.Path.StartsWithSegments(UserRouting.Login) ||
			HttpContext.Request.Path.StartsWithSegments(UserRouting.Logout))
		{
			return null;
		}

		//Anything else should be interactive server to be able to use packages like Blazored.Modal
		return InteractiveServer;
	}
}