@using Ehrms.Web.Components.Pages
@using Microsoft.AspNetCore.Components.Authorization

<Router AppAssembly="typeof(Program).Assembly">
	<Found Context="routeData">
		<AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
			<Authorizing>
				<p>Authorizing the user</p>
			</Authorizing>
			<NotAuthorized>
				<p>You are not authorized</p>
			</NotAuthorized>
		</AuthorizeRouteView>
	</Found>
</Router>