@inherits LayoutComponentBase

<div class="input-group d-flex justify-content-start">
	<input type="text" class="form-control" placeholder="@SearchBarPlaceHolder">
	<button class="btn btn-primary" type="submit">
		<i class="bi bi-search"></i>
	</button>
</div>

@code {
	[Parameter]
	public string SearchBarPlaceHolder { get; set; } = "Search";
}