@attribute [StreamRendering]
@rendermode InteractiveServer

@inject IToastService ToastService
@inject IProjectServiceClient ProjectServiceClient
@inject ITrainingRecommendationServiceClient TrainingRecommendationServiceClient

@if (_projects == null)
{
    <Loading></Loading>
    return;
}

<EditForm FormName="CreateTrainingRecommendationForm" Model="@RecommendationRequestModel" OnValidSubmit="ValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="mt-3">
        <MudTextField @bind-Value="RecommendationRequestModel.Title" Label="Title" Variant="Variant.Filled"></MudTextField>
        <ValidationMessage class="text-danger" For="(() => RecommendationRequestModel.Title)"></ValidationMessage>
    </div>
    <div class="mt-3">
        <MudSelect T="ProjectModel" @bind-Value="SelectedProject" ToStringFunc="ProjectModelToStringFunc"
                   Label="Select a project" OpenIcon="@Icons.Material.Filled.Folder" AdornmentColor="Color.Secondary">
            @foreach (var project in _projects)
            {
                <MudSelectItem Value="@project">@project.Name</MudSelectItem>
            }
        </MudSelect>
        <ValidationMessage class="text-danger" For="(() => RecommendationRequestModel.ProjectId)"></ValidationMessage>
    </div>
    <div class="mt-3">
    </div>
    <div class="mt-3">
        <button class="btn btn-primary" type="submit">
            <i class="bi bi-floppy"></i> Save
        </button>
    </div>
</EditForm>

@code {
    [SupplyParameterFromForm]
    private CreateTrainingRecommendationRequestModel RecommendationRequestModel { get; set; } = new();

    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; } = default!;

    private IEnumerable<ProjectModel>? _projects;
    private ProjectModel? SelectedProject { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var response = await ProjectServiceClient.GetProjectsAsync();
        if (response.StatusCode == HttpStatusCode.OK)
        {
            _projects = response.Content;
        }
        else
        {
            ToastService.ShowError($"Could not load projects. Service returned {response.StatusCode}");
        }
    }

    private async Task ValidSubmit()
    {
        RecommendationRequestModel.ProjectId = SelectedProject!.Id;
        var response = await TrainingRecommendationServiceClient.CreateTrainingRecommendationRequest(RecommendationRequestModel);
        if (response.StatusCode == HttpStatusCode.OK)
        {
            ToastService.ShowSuccess("Successfully created training recommendation request.");
            await ModalInstance.CloseAsync(ModalResult.Ok());
        }
        else
        {
            ToastService.ShowError($"Could create training recommendation request. Service returned {response.StatusCode}");
        }
    }

    private string ProjectModelToStringFunc(ProjectModel projectModel)
    {
        return projectModel != null
            ? projectModel.Name
            : string.Empty;
    }

}