@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<div class="main">
	<div class="content container px-3">
		@Body
	</div>
</div>

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider FullWidth="true"
                   MaxWidth="MaxWidth.Medium"
                   CloseButton="true"
                   BackdropClick="false"
                   Position="DialogPosition.Center"
                   CloseOnEscapeKey="true"/>
<MudSnackbarProvider />
<BlazoredToasts Position="ToastPosition.TopRight" ShowProgressBar="true" Timeout="5"></BlazoredToasts>