@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<div>
	<div>
		<Navbar />
	</div>
	<div class="container">
		<main>
			<article class="content">
				<ErrorBoundary>
					<ChildContent>
						@Body
					</ChildContent>
					<ErrorContent>
						<div class="alert bg-danger text-white alert-dismissible">
							An error occured.
							<button class="btn-close" @onclick="@ErrorBoundary.Recover"></button>
						</div>
					</ErrorContent>
				</ErrorBoundary>
			</article>
		</main>
	</div>
</div>

@code {
	private ErrorBoundary ErrorBoundary { get; set; } = new();
}