name: Build

on: 
  workflow_dispatch:
  push:
    branches: [master]
  pull_request:
    branches: [master]  

env:
  DOTNET_VERSION: "8.x"
  SOLUTION_FILE: "./Ehrms.sln"
  BUILD_CONFIGURATION: "Release"

permissions:
  id-token: write
  contents: read  
  checks: write

jobs:
  free-disk-space:
    runs-on: ubuntu-latest
    steps:

    - name: Free Disk Space (Ubuntu)
      uses: jlumbroso/free-disk-space@main
      with:
        # this might remove tools that are actually needed,
        # when set to "true" but frees about 6 GB
        tool-cache: true
        
        # all of these default to true, but feel free to set to
        # "false" if necessary for your workflow
        android: true
        dotnet: false
        haskell: true
        large-packages: true
        swap-storage: true
        
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{env.DOTNET_VERSION}}

      - name: Restore
        run: dotnet restore ${{env.SOLUTION_FILE}}

      - name: Build
        run: dotnet build ${{env.SOLUTION_FILE}} --configuration ${{env.BUILD_CONFIGURATION}} --no-restore

      - name: Unit Test
        run: dotnet test ${{env.SOLUTION_FILE}} --configuration ${{env.BUILD_CONFIGURATION}} --filter "FullyQualifiedName~UnitTests" --no-restore --no-build --logger "trx;LogFileName=test-results.trx" || true 

      - name: Integration Test
        run: dotnet test ${{env.SOLUTION_FILE}} --configuration ${{env.BUILD_CONFIGURATION}} --filter "FullyQualifiedName~IntegrationTests" --no-restore --no-build --logger "trx;LogFileName=test-results.trx" || true 
          
      - name: Process Test Results
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: Test Results
          path: "**/test-results.trx"
          reporter: dotnet-trx
          fail-on-error: true